body{
  padding: 10%;
  min-width: 100vw;
  min-height: 100vh;
  margin-top: 3rem;
  gap: 10px;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: Arial, Helvetica;
}

form{
  padding: 50px;
  width: fit-content;
  height: fit-content;
  gap: 10px;
  border-style:none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
input,select{
  padding: 10px;
  color: black;
  justify-content:center;
  width: 300px;
  height: 10px;
  border-style: solid;
  border-radius:20px;
  border-color: lightslategray;
  background: grey;
}

select{
  width: 230px;
}

input::placeholder, select::placeholder{
  color: darkslateblue
}

input::placeholder:focus {
  color: darkslateblue
}

input:invalid:focus, select:invalid:focus{
  outline-color: darkred;
  background-color: lightcoral
}

input:invalid, select:invalid{
  outline-color: darkred;
  background-color: lightcoral
}

input:focus, select:focus{
  color: black;
  background-color: lightgrey;
  border-style: dotted;
  outline-color: lightblue;
}

input:valid, select:valid{
  outline-color: darkseagreen;
  background-color: lightgreen
}

#submit{
  border-radius: 35px;
  background-color: black;
  border-style: none;
  color: darkgray;
  font-size: 10px;
  width: 40px;
  height: 40px;
}

#imageContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  border: 2px;
  border-color: white;
  border-style: dashed;
  padding: 10px;
  min-width: 60vw;
  min-height: 60vh;
  max-width: 70vw;
  max-height: 70vh;
}

img{
  position: static;
  max-width: 20%vw;
  max-width: 30%vh;
}





/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
